$primaryTextColor: #000000;
$secondTextColor: #212121;
$accentColor: #2196f3;
$notactivColor: #757575;
$primaryWhiteColor: #ffffff;
$buttonColor: #f5f4fa;
$footerBackgrColor: #2f303a;
$socialColor: #afb1b8;
$borderColor: #afb1b8;
$borderColorZ: rgba(33, 33, 33, 0.2);
$placeholderColor: rgba(117, 117, 117, 0.5);
$cubicTime: cubic-bezier(0.4, 0, 0.2, 1);
$timeDuration: 250ms;